# Directories to be ignored
.vs/

# ConsoleApp
00-ConsoleApp/.vs/
00-ConsoleApp/bin/
00-ConsoleApp/obj/

# 01-newConsoleApp
01-newConsoleApp/.vs/
01-newConsoleApp/bin/
01-newConsoleApp/obj/

# 00-HelloWorld
1-HelloWorld/.vs/
1-HelloWorld/HelloWorld/bin/
1-HelloWorld/HelloWorld/obj/

# MathOperation
2-MathOperation/.vs/
2-MathOperation/MathOperation/.vs/
2-MathOperation/MathOperation/bin/
2-MathOperation/MathOperation/obj/

# callMethodDotNET
3-callMethodDotNet/obj/
3-callMethodDotNet/bin/

# decisionLogic
4-decisionLogic/obj/
4-decisionLogic/bin/

# arrayForeachStatement
5-arrayForeachStatement/bin/
5-arrayForeachStatement/obj/

# csharpConventionPractices
6-csharpConventionPractices/obj/
6-csharpConventionPractices/bin/
